html {
  background-image: url(background_prp.jpg) ;
  background-size: cover;
}


body {
  min-height: 100vh;
  max-width: 1000px;
  display: grid;
  margin: auto;
  background-color: #fff;
  overflow: auto;
  background-color: #c3d9eb;  
}

a {
  color: blue;
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}

.header_nav_block {
  display: block;
  text-align: right;
  float: right;
  margin-left: auto;
  margin-top: auto;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  max-width: 800px;
}

.header_logo_block {
  display: block;
  width: 250px;
  padding: 5px;
  margin-top: auto;
  margin-bottom: 10px;
}

#navdiv a{
  text-align: center;
  font-size: normal;
  width: fit-content;
  margin-bottom: auto;
}

#navdiv {
  margin-left: 5px;
  margin-bottom: 2px;
  text-align: center;
  margin-bottom: auto;
}

#staticpagemenu {
  display: inline-flex;
}

#dynamicpagemenu {
  display: inline-flex;
}

.header_nav {
  display: block;
  width: fit-content;
  padding-bottom: 5px;
}

.header_login {
  display: flex;
  float: right;
  margin-left: auto;
  font-weight: lighter;
}


header p{
  color: black;
  margin-top: auto;
  margin-bottom: auto;
}

header a{
  color: black;
  font-weight: lighter;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: underline;

}

header {
  border-color: rgb(255, 255, 255);
  display: flex;
  /* border-bottom: 4px dotted; */
  height: fit-content;
  width: 100%;
  font-size: 16px;
  font-weight: lighter;
  background-color: rgb(255, 255, 255);
}

.template-homepage main {
  text-align: center;
  background-color: #fff;
}

footer {
  display: flex;
  columns: 2;  
  text-align: center;
  height: fit-content;
  min-height: 20px;
  overflow: auto;
  
}

.footer_block {
  padding-right: 80px;
}


h1 {
  color: black;
  font-size: 5 px;
  padding: 10px 15px;
}


