html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
}

a {
  color: currentColor;
}


.header_nav_block {
  display: flexbox;
  text-align: right;
  padding-top: 30px;
  max-width: 550px;
}

.header_logo_block {
  display: block;
  width: 250px;
}

.header_nav {
  display: block;
  width: fit-content;
}


header {
  display: flex;
  border-bottom: 2px dotted;
  height: fit-content;
  width: auto;
}

.template-homepage main {
  text-align: center;
}

footer {
  display: flex;
  columns: 2;  
  text-align: center;
  border-top: 2px dotted;
  height: fit-content;
  min-height: 10px;
  
}

.footer_block {
  padding-right: 50px;
}


