    {% extends "base.html" %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">

        <table>
        <tr>
            <th>title</th>
            <th>number</th>
            <th>author</th>
        </tr>
        {% for cdata in customdata %}
        <tr>
            <td align="center">{{ cdata.datavarchar }} </td>
            <td align="center">{{ cdata.dataint }}</td>
            <td align="center">{{ cdata.datausername }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endblock %}

