{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-form{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/forms/labdmp_page.css' %}">


    <h1><b>{{ lab }} CORE DATA MANAGEMENT PLAN</b></h1>

    {{ page.intro | richtext }}

    <form action="." method="POST">
        {% csrf_token %}
        <div class="section_div">
            <h4><b> GENERAL METADATA COLLECTION </b></h4>
            <p>
                <i>Do you collect all the metadata produced by your instruments?</i>
                <br><i>If yes, what instruments?</i> {{ data.instrument_metadata_collection }} <br>
                <i>Do you collect additional metadata by an open source laboratory notebook?</i>
                <br><i>If yes, what is the name of the electronic notebook?</i> {{ data.additional_enotebook_open_collection }} <br>
                <i>Do you use a well defined standard to name your samples?</i>
                <br><i>If yes, what is the standard used?</i> {{ data.sample_standard }} <br>
                <i>Do you use a well defined metadata schema and format?</i>
                <br><i>If yes, it is a public available schema?</i> {{ data.metadata_schema_defined }} <br>
            </p>
        </div>
        <div class="section_div">
            <h4><b> GENERAL PUBBLICATION PHASE </b></h4>
            <br>

            <p>
                <i>Will data and related metadata be published on an open and trusted repository with a d.o.i.?</i>
                <br><i>Yes</i> {{ data.open_trusted_repo_published_data }} <br>
                <i> Will published processed data and related metadata be licensed?</i>
                <br><i>If yes, what type of license?</i> {{ data.open_data_licence }} <br>
                <i>Will any scientific publication arising from data and related metadata be published on an open access peer review journal or uploaded on an open access repository?</i>
                <br><i>Yes</i> {{ data.open_access_journal_publication }} <br>
                <i>Will any scientific publication have a clear data provenance?</i>
                <br><i>Yes</i> {{ data.clear_data_provenance }} <br>
                <i>Will any scientific output related to data such as presentation or posters be open access registered with a d.o.i.?</i>
                <br><i>Yes</i> {{ data.related_data_open }} <br>
                <i> Will scientific publication or any other scientific document (presentation, poster, etc.) be licensed?</i>
                <br><i>Yes</i> {{ data.licence_scientific_documents }} <br>
            </p>
        </div>

        <div class="section_div">
            <h4><b> GENERAL DATA AND METADATA STORAGE AND PRESERVATION </b></h4>
            <br>

            <p>
                <i>Where will raw data  be stored?</i>
                <br>{{ data.raw_data_storage_location }} <br>
                <i>How long will raw data be preserved?</i>
                <br>{{ data.raw_data_storage_time_retention }} <br>
                <i>Which backup policy will be applied to published data or raw data related to published data?</i>
                <br>{{ data.backup_policy_published_data }} <br>
                <i>Which backup policy will be applied to not published data or raw data not related to published data?</i>
                <br>{{ data.backup_policy_unplublished_data }} <br>
            </p>
        </div>
        <br>
        <p><input type="submit" value="Update Core Data Management Plan" class="btn btn-primary"></p>
    </form>



{% endblock %}

