{% extends "base.html" %}
{% load static wagtailcore_tags django_tables2%}

{% block body_class %}template-form{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% static 'css/home_page.css' %}">
<link rel="stylesheet" href="{% static 'css/list_page.css' %}">

<h1>Service Request Submission</h1>

Filter:
<form action="." method="GET" enctype="multipart/form-data">
<input type="text" class="form-control" id="filterText" name="filter" aria-describedby="filterText" placeholder="filter...">
<button type="submit" class="btn btn-primary">search</button>
</form>

<form method="post" action="">
    {% csrf_token %}
    {% render_table table %}

    {{ data }}
    <input type="text" id="proposalIdBox" value="A"/>
    <button type="submit">Submit</button>
</form>

{% endblock %}