{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-form{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">

    <h1>{{ lab }} FORM</h1>


    {{ page.intro | richtext }}

    <form action="." method="POST">
        
        {% csrf_token %}
        <i>email: </i>: {{ Administration.email }} <br>

        Sample Description: <br>
        {{ lageSample.sample_description }}
        <br>
        {{ lageSample.type_of_sample }}
        
        <p><input type="submit" value="Insert data into external database"></p>
    </form>



{% endblock %}