{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-form{% endblock %}

{% block content %}

    <h1>{{ lab }} FORM</h1>

    
    {{ page.intro | richtext }}

    <form action="." method="POST">
        {% csrf_token %}
        <input type="hidden" name="sr_id" value="{{ sr_id }}"/>
        {% for form in forms %}
            {{ form }}
        {% endfor %}
        
        <p><input type="submit" value="Insert data into external database"></p>
    </form>



{% endblock %}

