    {% extends "base.html" %}
    {% load static %}
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">

        <table>
        <tr>
            <th>uuid</th>
            <th>email</th>
            <th>author</th>
        </tr>
        {% for cdata in customdata %}
        <tr>
            <td align="right">{{ cdata.uuid }} </td>
            <td align="right">{{ cdata.email }}</td>
            <td align="right">{{ cdata.datausername }}</td>
        </tr>
        {% endfor %}
        </table>
    {% endblock %}

