{% load wagtailcore_tags %}
{% load static wagtailimages_tags %}

<footer>
    {% with twitter_url=settings.home.NavigationSettings.twitter_url github_url=settings.home.NavigationSettings.github_url %}

        <p>
            I AM THE FOOTER!
            {% if twitter_url or github_url %}
            {% if github_url %}
                <a href="{{ github_url }}">"{{ github_icon }}"</a>
            {% endif %}
            {% if twitter_url %}
                <a href="{{ twitter_url }}">Twittah</a>
            {% endif %}
    {% endif %}
        </p>


{% endwith %}
</footer>