{% load static wagtailcore_tags wagtailuserbar navigation_tags wagtailimages_tags%}
{% wagtail_site as current_site %}

<header>

    <link rel="stylesheet" type="text/css" href="{% static 'css/easyDMP.css' %}">

    {% get_site_root as site_root %}

    <div class="header_logo_block">
        {% image settings.home.HeaderSettings.prp_icon fill-250x100 %}
    </div>
    <div class="header_nav_block">
    <nav>
        <p>
        <a href="{% pageurl site_root %}">Home</a> |
        {% for menuitem in site_root.get_children.live.in_menu %}
            {% if request.user.is_authenticated %}
            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
            {% endif %}
     
        {% endfor %}
        </p>
    </nav>
    <div class="header_login">
        <p> 
        {% if request.user.is_authenticated %}
            {{ request.user.username }} | <a href="{{ current_site.root_url }}/logout">Logout</a>
        {% else %}
            <a href="{{ current_site.root_url }}/login">Login</a>
        {% endif %}
        | {{ request.session.lab_selected }}
        | <a href="{{ current_site.root_url }}/switch-laboratory/">Switch Lab</a>
    </p>
    </div>
</div>

</header>