{% load static wagtailcore_tags wagtailuserbar navigation_tags wagtailimages_tags%}
{% wagtail_site as current_site %}

<header>

    <link rel="stylesheet" type="text/css" href="{% static 'css/easyDMP.css' %}">
    {% get_site_root as site_root %}

    <div class="header_logo_block">
        {% image settings.home.HeaderSettings.prp_icon max-250x100 %}
    </div>
    <div class="header_nav_block">
        <nav class="header_nav">
            <p>
            <div id="staticpagemenu">
                <div id="navdiv">
                    <a href="{% pageurl site_root %}">Home</a>
                </div>
                {% for menuitem in site_root.get_children.live.in_menu.public %}
                <div id="navdiv">
                    <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                </div>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div id="dynamicpagemenu">
                {% for menuitem in site_root.get_children.live.in_menu.private %}
                <div id="navdiv">
                    <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                </div>
                {% endfor %}
            </div>

            {% endif %}
            </p>
        </nav>
        <div class="header_login">

                {% if request.user.is_authenticated %}
                {{ request.user.username }} 
                <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="true">
                        {{ request.session.lab_selected }}                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                - <a href="{{ current_site.root_url }}/switch-laboratory/">Switch Lab</a> -
                <a href="{{ current_site.root_url }}/logout">Logout</a>
                <input type="hidden" name="next" value="{{ request.path }}">
                {% else %}
                <a href="{{ current_site.root_url }}/login">Login</a>
                {% endif %}
            </p>
        </div>
    </div>

</header>