{% for widget in widget.subwidgets %}
{% include widget.template_name %}
{% endfor %}
<script>
    function makevisible(sel,textb, yn) {
        if((sel.checked && yn == "True")||(!sel.checked && yn == "False"))
        {
            textb.style.visibility = "visible";
        }   
        else
        {
            textb.style.visibility = "hidden";
        }
        
    }

    function othervisible() {
        var selection = document.getElementById("id_{{ widget.subwidgets.0.name }}");
        var textbox = document.getElementById("id_{{ widget.subwidgets.1.name }}");
        var yes_or_no = "{{ widget.attrs.yes_or_no }}"
        if(yes_or_no == "True")
            textbox.style.visibility = "hidden";
        else
            textbox.style.visibility = "visible";
        
        makevisible(selection,textbox,yes_or_no);


        selection.addEventListener("change", function() {
            makevisible(selection,textbox,yes_or_no);
            });
        };

    
    othervisible();
</script>